<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #form="ngForm">

    <ion-item>
      <ion-input label="Descrição" labelPlacement="floating" type="text" [(ngModel)]="produto.descricao"
        name="descricao" #descricao="ngModel" placeholder="Digite uma descrição"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Preço" type="number" labelPlacement="floating" [(ngModel)]="produto.preco"
        name="preco" #preco="ngModel" placeholder="Digite um preço"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-select label="Selecione uma categoria..." placeholder="Categorias">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>
    
      
    
     
    
   
    </ion-list>
     <div class="ion-padding">
      <ion-button expand="full">Salvar</ion-button>
     </div>
   

  </form>
</ion-content>