<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #form="ngForm">

    <ion-item>
      <ion-input label="Descrição" labelPlacement="floating" type="text" [(ngModel)]="categoria.descricao"
        name="descricao" #descricao="ngModel" placeholder="Digite uma descrição"></ion-input>
    </ion-item>

     <div class="ion-padding">
      <ion-button expand="full">Salvar</ion-button>
     </div>
   
  </form>
</ion-content>