<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ editando ? 'Edição' : 'Cadastro'}} Categoria</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="categorias"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #form="ngForm">

    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input [(ngModel)]="categorias.descricao" name="descricao" #descricao="ngModel" required></ion-input>
    </ion-item>
  
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-label position="stacked">Status</ion-label>
            <ion-toggle [(ngModel)]="categorias.status" name="status" 
            [checked]="true" #status="ngModel"></ion-toggle><br /><br />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button type="submit" class="ion-padding" [disabled]="form.invalid" color="primary" expand="block">
      Salvar
    </ion-button>
  </form>
</ion-content>
